*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
/*header*/
.header{
    padding: 15px 50px;
    background-color: #ffffff;
    margin-bottom: 60px;
}
.logo{
    float: left;
    width: 30%;
}
.right{
    float: right;
    width: 70%;
}
.logo a{
    font-size: 35px;
    text-transform: uppercase;
    text-decoration: none;
    color: #343132;
    font-weight: 700;
}
.menu{
    float: right;
    margin-top: 12px    ;
}
.menu li{
    float: left;
    margin-left: 35px;
    color: #000000;
    list-style: none;
}
.menu li a{
    font-size: 16px;
    color: #000000;
    transition: all 150ms;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.menu li a:hover{
    color: #eb0028;
}
.slide1{
    padding: 0;
}
.slide1 img{
    max-width: 100%;
}
.slide1 .slide_left{
    margin-top: -700px;
    float: left;
    text-align: center;
    padding: 280px 0 0 0;
    font-family: 'Rajdhani', sans-serif;
}
.animated{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.slide_left a{
    border: 2px solid #212121;
    background: rgba(0,0,0,0);
    color: #212121;
    border-radius: 60px;
    padding: 10px 40px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Rajdhani', sans-serif;
    text-decoration: none;
    transition: background-color 1000ms;
}

.slide_right a{
    border: 2px solid #ffffff !important;
    background-color: #111113 !important;
    color: #ffffff !important;
}
.slide_left a:hover{
    border-color: #eb0028 !important;
    background: #eb0028 !important;
    color: #fff;
}
.slide_arrow i{
    font-size: 30px;
    color: #eb0028;
}
.slide2{
    border: 1px solid #e4e4e4;
    height: 100px;
}
.slide2 .service{
    float: left;
    padding: 25px 70px;
}
.slide2 .service img{
    float: left;
    margin-right: 15px;
}
.slide2 .service .content_service{
    float: left;
    letter-spacing: 0.02em;
    margin: 0 0 15px;
    line-height: 1.1;
}
.slide2 .service .content_service h6{
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
}
.slide2 .service .content_service p{
    color: #808080;
    font-weight: normal;
}
.slide3{
    padding: 0;
}
.slide_heading{
    margin-top: 100px;
    text-transform: uppercase;
    letter-spacing: 0.02em;
    line-height: 1.1;
    font-family: 'Rajdhani', sans-serif;
    text-align: center;
}
.slide_heading h2{
    font-size: 40px;
    font-weight: 600;
}
.slide_heading p{
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #808080;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
.slide3 .slide3_content{
    text-align: center;
    color: #000;
    margin-bottom: 10px;
    position: relative;
    line-height: normal;
    letter-spacing: 0.02em;
    margin-top: 60px;
    float: left;
}
.slide3_content img{
    max-width: 100%;
    margin-bottom: 20px;
}
.slide3 .slide3_content h2{
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
}
.slide3_content p{
    color: #808080;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
.slide4{
    padding: 0;
}

.slide4 .cinema .tab img{
    max-width: 100%;
}
.nav{
    float: left;
    width: 100%;
}
.nav button{
    padding: 20px;
    width: 50%;
    float: left;
    font-size: 30px;
    color: #333333;
    border: 0;
    background-color: #ffffff;
    outline: none;
}
.nav button i:hover{
    color: #eb0028;
}
.tab-content{
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 350px;
    margin-top: 50px;
}

.tab img{
    max-width: 100%;
}
.tab-content .tab{
    float: left;
    width: 25%;
    position: relative;
    /*display: none;*/
}
.tab-content .cinema{
    width: 133.4%;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 400ms;
}
.hoizontal {
    width: 100%;
    float: left;
}
.hoizontal img{
    max-width: 100%;
}
.slide5 .slide5_content{
    text-align: center;
    color: #000;
    margin-bottom: 100px;
    position: relative;
    line-height: normal;
    letter-spacing: 0.02em;
    float: left;
    margin-top: -65px;
}
.slide5_content img{
    max-width: 100%;
    margin-bottom: 20px;
}
.slide5 .slide5_content h2{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
}
.slide5_content p{
    color: #808080;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
.slide5_content .chi{
    height: 5.9375rem;
    background: #000000;
    width: 1px;
    float: none;
    margin-left: 130px;
    position: relative;
}
.slide5_content .hat{
    height: 10px;
    width: 10px;
    border-radius: 100%;
    background: #000000;
    position: relative;
    right: 4px;
    animation: none;
}
.slide5_content:hover .hat{
    animation: mymove 1s linear infinite;
}
@keyframes mymove {
    0% {box-shadow: 0 0 0 0 rgba(235,0,40,0.1),0 0 0 20px rgba(235,0,40,0.1),0 0 0 40px rgba(235,0,40,0.1);}
    100% {box-shadow: 0 0 0 20px rgba(235,0,40,0.1),0 0 0 40px rgba(235,0,40,0.1),0 0 0 60px rgba(235,0,40,0);}
}
.slide6 {
    background-image: url("../imgs/img-5_8dbc9088-a43a-4e32-b664-1a3681550de4_1920X.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    float: left;
    width: 100%;
    text-align: center;
    background-attachment: fixed;
    height: 500px;
}
.slide6_content{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(255,255,255,0), #000);
    padding: 150px 0;
}
.slide6_content p{
    color: #ffffff;
    letter-spacing: 7px;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}
.slide6_content h2{
    color: #ffffff;
    padding: 15px 0;
    margin-bottom: 40px;
    line-height: normal;
    font-size: 56px;
    text-transform: inherit;
    letter-spacing: 0.02em;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
}
.slide6_content a{
    color: #000000;
    border: none;
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 38px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: 3px;
    font-size: 16px;
    transition: background-color 1000ms;
}
.slide6_content a:hover{
    background: #eb0028!important;
    color: #ffffff !important;
}
.slide7_left{
    float: left;
    padding: 0 30px 0 0;
}
.slide7_left h2{
    font-size: 26px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
}
.slide7_left p{
    color: #808080;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
}
.slide7_right{
    float: right;
    padding: 0 0 0 30px;
}
.slide7_right img{
    max-width: 100%;
}
.slide8{
    background-image: url("../imgs/img-7_54376782-045f-4d57-bb5a-250e33d54a77_1920X.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    text-align: center;
    height: 658px;
}
.slide8_content{
    float: left;
    background-color: #ffffff;
    padding: 40px 30px;
    margin-top: 50px;
    text-align: center;
}
.slide8_content span{
    display: inline-block;
    border-radius: 100%;
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #000000;
    color: #fff;
    transition: background-color 1000ms;
}
.slide8_content h2{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    margin-bottom: 25px;
}
.slide8_content p{
    color: #808080;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}
.slide8_content a{
    color: #ffffff;
    border: none;
    background-color: #000000;
    display: inline-block;
    padding: 10px 38px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: 3px;
    font-size: 16px;
    transition: background-color 1000ms;
}
.slide8_content a:hover{
    background: #eb0028!important;
    color: #ffffff !important;
}
.slide8_content:hover span{
    background-color: #eb0028!important;
}
.slide9 .slide9_content{
    color: #000;
    margin-bottom: 70px;
    position: relative;
    line-height: normal;
    letter-spacing: 0.02em;
    float: left;
}
.slide9_content img{
    max-width: 100%;
    margin-bottom: 20px;
    float: right;
}
.slide9 .slide9_content h2{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Rajdhani', sans-serif;
    float: right;
    width: 80%;
    padding-right: 30px;
}
.slide9_content p{
    color: #808080;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.7;
    font-family: 'Roboto', sans-serif;
    float: right;
    width: 80%;
    padding-right: 30px;
}
.slide9_left{
    text-align: right;
    margin-top: 120px;
    float: left;
}
.slide9_mid{
    float: left;
    margin-top: 120px;
    padding: 0;
}
.slide9_mid img{
    max-width: 100%;
}
.slide9_rigth{
    text-align: left;
    margin-top: 120px;
    float: left;
}
.slide9_rigth .slide9_content img{
    float: left !important;
}
.slide9_rigth .slide9_content h2{
    float: left !important;
    padding: 0 0 0 30px !important;
}
.slide9_rigth .slide9_content p{
    float: left !important;
    padding: 0 0 0 30px !important;
}
.product{
    width: 278px;
    padding: 0 10px;
    margin-top: 60px;
    float: left;
    position: relative;
}
.slide10_product{
    width: 100%;
    border: 2px solid #f4f4f4;
    transition: border 400ms;
    height: auto;
}
.image1{
    width: 100%;
    position: relative;
}
.image1 img{
    max-width: 100%;
}
.information_product{
    background-color: #f4f4f4;
    padding: 20px 0 40px 0;
}
.information_product a{
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
    color: #333333;
    display: inline-block;
    width: 100%;
    margin: 0 0 10px;
    line-height: normal;
    text-decoration: none;
    text-align: center;
}
.information_product a:hover{
    color: #eb0028;
}
.slide10_product:hover{
    border: 2px solid #eb0028;
}
.information_product h2{
    font-size: 20px;
    line-height: normal;
    font-weight: 600;
    color: #eb0028;
    text-align: center;
}
.image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.image img{
    max-width: 100%;
}
.image1:hover .image{
    width: 100%;
}
.nav1{
    float: left;
    width: 100%;
}
.nav1 button{
    padding: 20px;
    width: 50%;
    float: left;
    font-size: 30px;
    color: #333333;
    border: 0;
    background-color: #ffffff;
    outline: none;
}
.nav1 button i:hover{
    color: #eb0028;
}
.tab-content1{
    float: left;
    width: 100%;
    position: relative;
    overflow: hidden;
    height: 530px;
}
.tab-content1 .cinema1{
    width: 1710px;
    position: absolute;
    left: 0;
    top: 0;
    transition: all 400ms;
}
.image1 .atc{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
.image1 .atc a{
    text-transform: uppercase;
    width: 50%;
    height: auto;
    line-height: normal;
    padding: 15px;
    font-size: 12px;
    float: left;
    background: #333333;
    color: #ffffff;
    text-align: center;
    position: relative;
    text-decoration: none;
    transition: background-color 800ms;
}
.image1:hover .atc{
    height: 45px;
}
.atc a:hover{
    background-color: #eb0028 !important;
    color: #ffffff !important;
}
.slide11{
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.slide11 .slide11_left{
    width: 66.65%;
    float: left;
}
.slide11_left .content_1{
    width: 60%;
    float: left;
    position: relative;
}
.slide11_left img{
    max-width: 100%;
}
.slide11_left .content_2{
    width: 40%;
    float: left;
    position: relative;
}
.slide11 .slide11_right{
    width: 33.32%;
    float: right;
}
.slide11_right .content_3{
    width: 100%;
    position: relative;
}
.content_3 img{
    max-width: 100%;
}
.img_content{
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    float: left;
    background: rgba(0, 0, 0, 0.7);
    transition: all 500ms;
    margin-top: -68%;
}
.img_content h6{
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: inherit;
    font-weight: normal;
    font-size: 20px;
    letter-spacing: 0.02em;
    white-space: nowrap;
}
.img_content h2{
    color: #ffffff;
    margin-bottom: 20px;
    text-transform: inherit;
    font-weight: 400;
    line-height: .9;
    letter-spacing: 1.1px;
    font-size: 46px;
    font-family: 'Rajdhani', sans-serif;
    white-space: nowrap;
}
.img_content a{
    color: #000000;
    border: none;
    background-color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: 3px;
    font-size: 16px;
    transition: background-color 1000ms;
}
.text{
    position: absolute;
    top: 50%;
    left: 38%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.content_1:hover .img_content{
    width: 100%;
}
.img_content a:hover{
    background: #eb0028!important;
    color: #ffffff !important;
}
.content_2:hover .img_content{
    width: 100%;
}
.content_3:hover .img_content{
    width: 100%;
}
.slide12{
    width: 100%;
    float: left;
    box-sizing: border-box;
    background-image: url("../imgs/img-8_b15667a5-9687-499a-b264-b250a871770d_1920x.webp");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.slide12 .slide12_left{
    float: left;
    width: 50%;
    margin-top: 50px;
}
.slide12_left img{
    max-width: 100%;
}
.slide12_right{
    float: right;
    width: 50%;
}
.box{
    position: relative;
}
.slide12_right .h5{
    padding: 20px 80px 20px 0;
    line-height: inherit;
    font-size: 18px;
    letter-spacing: 0.02em;
    text-align: left;
    border-bottom: 1px solid #ffffff;
}
.h5 a{
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
}
.block p{
    color: #ffffff;
    margin-top: 30px;
    margin-bottom: 0;
}
.slide13{
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.slide13_left{
    margin-top: 50px;
    float: left;
    width: 45%;
    padding: 40px 40px 40px 60px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    transition: border 500ms;
}
.slide13_left img{
    float: left;
    max-width: 100%;
}
.telchat{
    width: 80%;
    float: left;
}
.telchat{
    padding: 0 30px;
}
.telchat h6{
    color: #000;
    margin-bottom: 5px;
    font-weight: normal;
    letter-spacing: 5px;
    font-size: 16px;
    line-height: 1.1;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
}
.telchat h2{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 0.02em;
    font-family: 'Rajdhani', sans-serif;
    text-transform: uppercase;
    transition: border 500ms;
}
.telchat p{
    color: #808080;
    font-size: 16px;
    margin: 0 0 15px 0;
    letter-spacing: 0em;
    font-weight: normal;
    line-height: 1.7;
}
.more{
    margin-bottom: -50px;
    margin-left: 80px;
}
.more a{
    color: #ffffff;
    border: none;
    background-color: #000000;
    display: inline-block;
    padding: 10px 38px;
    margin: 0;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: 3px;
    font-size: 16px;
    transition: background-color 1000ms;
}
.more a:hover{
    background: #eb0028!important;
    color: #ffffff !important;
}
.slide13_right{
    margin-top: 50px;
    float: right;
    width: 45%;
    padding: 40px 40px 40px 60px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    transition: border 500ms;
}
.slide13_right img{
    float: left;
    max-width: 100%;
}
.slide13_left:hover{
    border: 1px solid #eb0028;
}
.slide13_right:hover{
    border: 1px solid #eb0028;
}
.slide13_left:hover h2{
    color: #eb0028;
}
.slide13_right:hover h2{
    color: #eb0028;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgba(235,0,40,0.6);
    color: white;
    cursor: pointer;
    padding: 8px 18px;
    border-radius: 4px;
    transition: color 800ms;
}
#myBtn:hover {
    background-color: #eb0028;
}